* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.mainBar {
  font-family: 'IosevkaTermNerdFontPropo';
  background-color: rgb(33 33 33 / 50%);
  color: #9ea0a2;
  padding: 10px;
  border-radius: 10px;
}

.powerMenu {
  margin: 5px;
}
.dashboard {
  background-color: rgb(33 33 33/ 90%);
}

// Styles on classes (see eww.yuck for more information)

.volume-icon button:hover {
  all:unset;
  background-color: #D35D6E;
}

.volume-bar scale trough highlight {
  all: unset;
  background-color: #FFFFFF; 
  color: #000000;
  border-radius: 10px;
}
.datetime {
  all:unset;
  margin: 5px;
}
.powerbar{
  all: unset;
  margin: 4px;
}
.powerbar button{
  all: unset;
  margin: 5px;
  margin-left: 5px;
}
circular-progress {
  color: rgba(228, 201, 175, 1)
}

.volume-bar scale trough {
  all: unset;
  background-color: #000000;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #FFFFFF; 
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #000000;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}
.workspaces button:hover {
  color: #D35D6E;
}

.workspaces button:active {
  color: #ff0000;
}

.active-workspace {
  border: 1px;
}


$background: #1A1B26;
$background-alt: #16161E;
$background-alt2: #1E202E;
$foreground: #a9b1d6;
$red: #F7768E;
$yellow: #E0AF68;
$orange: #FF9E64;
$green: #9ECE6A;
$blue: #7AA2F7;
$blue2: #88AFFF;
$magenta: #BB9AF7;
$cyan: #73DACA;

.systray-circular{
	font-family: Iosevka Nerd Font;
	font-size: 2em;
}
.radial-ram-box,
.radial-bat-box,
.radial-volume-box,
.radial-brightness-box{
	font-family: "Font Awesome 5 Pro";
	background-color: $background;
	padding: 1.5rem 2.3rem 1.5rem 2.3rem;
	margin: .5rem;
	border-radius: 2rem 0;
}
.brightness-radial,
.volume-radial,
.bat-radial,
.ram-radial{
	background-color: $background-alt2;
}
.brightness-radial-label,
.volume-radial-label,
.bat-radial-label,
.ram-radial-label{
	padding: 2.5rem;
}
.brightness-radial{
	color: $yellow;
}
.volume-radial{
	color: $magenta;
}
.bat-radial{
	color: $green;
}
.ram-radial{
	color: $blue;
}

