[submodule "alacritty/catppuccin"]
	path = alacritty/catppuccin
	url = git@github.com:catppuccin/alacritty.git
[submodule "neovim"]
	path = neovim
	url = git@github.com:shad0wcrawl3r/neovim.git
[submodule "nix-config"]
	path = nix-config
	url = git@github.com:shad0wcrawl3r/nix-config.git
