@define-color main_bg #030625;
@define-color box_bg #113f60;
@define-color workspaces #69ebb8;
@define-color music #d7f3ff;
@define-color datetime #ffeccb;
@define-color cpu #d9ece9;
@define-color mem #fff7d6;
@define-color wifi #a9acbd;
@define-color battery #f9f871;

* {
  /*font-family: "JetbrainsMono Nerd Font";*/
  font-family: "Poppins JetbrainsMono Nerd Font";
  border: none;
  border-radius: 14px;
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  /*color: @workspaces;*/
}
window#waybar {
  border-radius: 0px;
  margin: 0;
  margin-top: 5px;
  /*padding: 0 2px;*/
  background: @main_bg;
  color: @workspaces;
}

window#waybar>* {
  margin: 2px;
}
#workspaces{
  background: @box_bg;
  color: @workspaces;
  margin: 2px 2px; 
padding: 0px 10px 0px 10px;
}
#workspaces label {
  color: @workspaces
}
#wireplumber {
padding: 0px 10px 0px 10px;
  margin: 2px 2px; 
  background: @box_bg;
  color: @music;
}
#mpris{
/*padding: 2px 2px 2px 10px;*/
padding: 0px 10px 0px 10px;
  margin: 2px 2px; 
  background: @box_bg;
  color: @music;
}
#clock{
/*padding: 2px 2px 2px 10px;*/
padding: 0px 10px 0px 10px;
  margin: 2px 2px; 
  background: @box_bg;
  color: @datetime;
}
#tray{
/*padding: 0 8px;*/
padding: 0px 10px 0px 10px;
  margin: 2px 2px; 
  background: @box_bg;
  color: @tray;
}

#cpu{
  /*padding: top right bottom left;*/
padding: 2px 0px 2px 10px;
  margin: 2px 0px; 
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background: @box_bg;
  color: @cpu;
}

#memory{
  /*padding: top right bottom left;*/
padding: 2px 10px 2px 0px;
  margin: 2px 0px; 
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: @box_bg;
  color: @mem;
}
#bluetooth{
/*padding: 0 8px;*/
padding: 0px 10px 0px 10px;
  margin: 2px 2px; 
  background: @box_bg;
  color: @wifi;
}
#network{
padding: 0px 10px 0px 10px;
/*padding: 0 8px;*/
  margin: 2px 2px; 
  background: @box_bg;
  color: @wifi;
}
#battery{
/*padding: 0 8px;*/
padding: 0px 10px 0px 10px;
  margin: 2px 2px; 
  background: @box_bg;
  color: @battery;
}
/**/
/** {*/
/*	border-radius: 14px;*/
/*  border: none;*/
/*  font-family: "JetbrainsMono Nerd Font" ;*/
/*	font-size: 12px;*/
/*  color: @workspaces;*/
/*}*/
/*window#waybar {*/
/*  border-radius: 0;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  background: @main_bg;*/
/*}*/
/**/
/*#workspaces {*/
/*  margin-top: 2px;*/
/*  margin-bottom: 2px;*/
/*  background: #113F60; */
/*}*/
/*#wireplumber {*/
/*  margin-top: 2px;*/
/*  margin-bottom: 2px;*/
/*  color: @music;*/
/*  margin-left: 3px;*/
/*  margin-right: 0;*/
/*  padding: 0 2px;*/
/*  background: @box_bg;*/
/*  border-top-right-radius: 0px;*/
/*  border-bottom-right-radius: 0px;*/
/*}*/
/*#mpris {*/
/*  margin-top: 2px;*/
/*  margin-bottom: 2px;*/
/*  padding: 0 2px;*/
/*  margin-left: 0;*/
/*  margin-right: 2px;*/
/*  border-top-left-radius: 0px;*/
/*  border-bottom-left-radius: 0px;*/
/*  background: @box_bg; */
/*  min-width: 10px;*/
/*  color: @music;*/
/*}*/
/**/
/*#tray {*/
/*  margin-top: 2px;*/
/*  margin-bottom: 2px;*/
/*  color: @tray;*/
/*  transition: none;*/
/*}*/
/**/
/*#cpu {*/
/*  margin-top: 2px;*/
/*  margin-bottom: 2px;*/
/*  background: @box_bg; */
/*  color: @cpu;*/
/*  padding: 2px;*/
/*  border-top-right-radius: 0px;*/
/*  border-bottom-right-radius: 0px;*/
/*}*/
/*#memory {*/
/*  background: @box_bg; */
/*  margin-top: 2px;*/
/*  margin-bottom: 2px;*/
/*  color: @cpu;*/
/*  padding: 2px;*/
/*  border-radius: 0px;*/
/*}*/
/*#bluetooth{*/
/*  color: @wifi;*/
/*  padding: 2px;*/
/*  background: @box_bg;*/
/*  margin-top: 2px;*/
/*  margin-bottom: 2px;*/
/*  border-radius: 0px;*/
/*}*/
/**/
/*#network {*/
/*  color: @wifi;*/
/*  padding: 2px;*/
/*  margin-top: 2px;*/
/*  margin-bottom: 2px;*/
/*  background: @box_bg;*/
/*  border-radius: 0px;*/
/*}*/
/*#battery {*/
/*  color: @battery;*/
/*  background: @box_bg;*/
/*  margin-top: 2px;*/
/*  margin-bottom: 2px;*/
/*}*/
/**/
